{% extends "layout.html" %}

{% block title %}
     buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="form-group">
            <input class="form-control" name="symbol" placeholder="Write the name of the stock that you would like to buy">
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="How many of that stock would you like to purchase">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}