{% extends "layout.html" %}

{% block title %}
 Forget password
{% endblock %}

{% block main %}
   <form action="/forget password" method="POST">
       <div class="form-group">
           <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
       </div>
       <div class="form-group">
           <input autocomplete="off" autofocus class="form-control" name="change password" placeholder="change password" type="password">
       </div>
       <button class="btn btn-primary" type="submit">Login</button>

       </div>
   </form>
{% endblock %}

