{% extends "layout.html" %}

{% block title %}
     Register
{% endblock %}

{% block main %}


     <form id="register" action = "/register"  method="POST">
         <div class="form-group">
             <input id="username" autocomplete="off" autofocus class="form-control" name="username"  placeholder="Username" type="text">
         </div>
         <div class="form-group">
             <input class="form-control" name="password" placeholder="Password" type="password">
         </div>
         <div class="form-group">
             <input class="form-control" name="weight" placeholder="weight" type="text">
         </div>
         <div class="form-group">
             <input class="form-control" name="height" placeholder="height" type="text"><br>
         </div>
         <div class="form-group">
              <input class="form-control" name="age" placeholder="age" type="text">
          </div>
          <div>
              <h4>Sex:</h4>
              <input id="male" type="radio" name="gender" value="male" > Male<br>
              <input id="female" type="radio" name="gender" value="female"> Female<br>
          </div>
          <div>
              <h4>Choose your body percentage fat.</h4>
              <h4>if you are Male:</h4>
              <input id="10-14" type="radio" name="bodyfat" value="10-14">10-14<br>
              <input id="15-20" type="radio" name="bodyfat" value="15-20">15-20<br>
              <input id="21-28" type="radio" name="bodyfat" value="21-28">21-28<br>
              <input id="over28" type="radio" name="bodyfat" value="over28">over 28<br>
              <h4>if you are Female:</h4>
              <input id="14-18" type="radio" name="bodyfat" value="14-18">14-18<br>
              <input id="19-28" type="radio" name="bodyfat" value="19-28">19-28<br>
              <input id="29-38" type="radio" name="bodyfat" value="29-38">29-28<br>
              <input id="over38" type="radio" name="bodyfat" value="over38">over 38<br>
          </div>
          
          <div>
              <h4>daily activity level:</h4>
              <input id="verylight" type="radio" name="activity" value="verylight" >(Very Light)-Typical office job(sitting,studying,little walking throught the day<br>
              <input id="light" type="radio" name="activity" value="light">(Light)-Any job where you mostly stand or walk(teaching,shop/lab work,some walking throughtout the day) <br>
              <input id="moderate" type="radio" name="activity" value="moderate" >(Moderate)-Jobs requiring physical activity(landscaping,cleaning,maintenance,jogging/biking/workingout 2 hours/day)<br>
              <input id="heavy" type="radio" name="activity" value="heavy">(Heavy)-Heavy manual labor(construction,dancer,athlete,hard physical activity min. 4hours/day)<br>
              <input id="veryheavy" type="radio" name="activity" value="veryheavy">(Very Heavy)-Moderate to hard physical activity min. 8 hours/day<br>
          </div>
          <div>
              <h4>Choose your goal:</h4>
              <input id="losekg" type="radio" name="goal" value="lose0.25kg">lose 0.25 kg aweek<br>
              <input id="losekgs"  type="radio" name="goal" value="lose0.5kg">lose 0.5 kg aweek<br>
              <input id="maintainmyweight" type="radio" name="goal" value="maintainmyweight">maintan my weight<br>
              <input id="gainkg" type="radio" name="goal" value="gain0.25kg">gain 0.25 kg aweek<br>
              <input id="gainkgs" type="radio" name="goal" value="gain0.5kg">gain 0.5 kg aweek<br>
          </div>
          <br>
    
          <div>
              <h4>How many months do you want this diet to last.</h4>
          <div class="form-group">
             <input class="form-control" name="endofdiet" placeholder="How many months do you want this diet to last." type="text"><br>
          </div>
          
          
         <button  id="register" class="btn btn-primary" type="submit">Register</button></a>
     </form>

{% endblock %}
